/* styling for body and text elements in the body */
* {
    box-sizing: border-box;
}


body {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    margin: 0;
    
}

h1 {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

p #decrease {
    font-weight: 800;
}

/* 'navigation bar' styling and flex box*/

div.li-wrapper {
    /* Just so I can see the boxes */
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content:space-evenly;
    line-height: 3rem;


}

/* //and now for the flexboxes for the questions and text-content! */

div.flex-container {
    display: flex;
    /* Just so I can see the boxes */
    /* border: 2px solid red; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    height: 100%;
    padding-bottom: 2rem;
    border-top: 2px solid palevioletred;
    border-bottom: 2px solid palevioletred;
}

div.feedback-container {
    flex: 1 0 100%;
    min-height: 2.5rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

div.splash-page, .question-container, .enter-details, .quiz-completed {
    /* Just so I can see the boxes */
    /* border: 2px solid blue; */
    flex: 1 0 40%;
    padding: 0.5rem;

}

div.high-score-details {
    flex: 1 0 50%;
}

/* flexbox and styling for the timer */

div.timer {
    /* Just so I can see the boxes */
    /* border: 2px solid green; */
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  
}

div.timer-text {
    /* Just so I can see the boxes */
    /* border: 1px solid yellow; */
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.timer-text h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

div.timer-text p {
    font-size: 2rem;
    margin-top: 1rem;
}

/* // because the svg tag was doing weird things to the layout unless this was here*/
svg {
    width: 100%;
}
circle {
    fill: pink;
    stroke: palevioletred;
    stroke-width: 2px;
}

.timer-count {
    font-size: 2.5rem;
    text-anchor: middle;
}


div.time-left {
    /* Just so I can see the boxes */
    /* border: 2px solid orange; */
    background-color: pink;
    flex: 1 0 33%;
    border-radius: 50%;
    font-size: 4rem;
}

/* button styling */

button#start-quiz {
    font-family: inherit;
    font-size: 1.5rem;
    border: 2px ridge palevioletred;
    box-shadow: 0rem 0rem 0.2rem palevioletred;
   background-color: pink;
   margin-top: 2rem;
   padding-top: 0.5rem;
   padding-left: 1.5rem;
   padding-bottom: 0.5rem;
   padding-right: 1.5rem;
   border-radius: 1.5rem;
}

button#start-quiz:hover {
    font-size: 1.6rem;
    background-color: mistyrose;

}

/* adding hover to the dynamically added buttons */

div button#button-hover:hover {
    font-size: 1.6rem !important;
    background-color: mistyrose !important;
}

footer {
    padding: 2rem;
    text-align: center;
    font-weight: 200;
}

/* //media queries for smaller sreens */

@media screen and (max-width: 992px) {
    div.questions {
        /* Just so I can see the boxes */
        /* border: 2px solid blue; */
        flex: 1 0 25%;
        padding: 0.5rem;
    
    }
    
    /* flexbox and styling for the timer */
    
    div.timer {
        /* Just so I can see the boxes */
        /* border: 2px solid green; */
        flex: 1 0 25%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      
    }

}

@media screen and (max-width: 768px) {
    div.questions {
        /* Just so I can see the boxes */
        /* border: 2px solid blue; */
        flex: 1 0 100%;
        padding: 0.5rem;
    }
    
    /* flexbox and styling for the timer */
    
    div.timer {
        /* Just so I can see the boxes */
        /* border: 2px solid green; */
        flex: 1 0 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      
    }

}